.green {
    background-color: #1c4966 !important;
}

.border-blue {
    background-color: #1c4966 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}
.inner {
    color: white !important;
}

.bg-green-top {
    background-color: #008641;
}

.bg-red-top {
    background-color: #ce171f !important;
}

.bg-yellow-top {
    background-color: #FFD300 !important;
}

.inner {
    color: white !important;
}

.green {
    background-color: #008641 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}.bg-registration-top {
    background-color: #008641;
}

.bg-red-top {
    background-color: #ce171f !important;
}

.inner {
    color: white !important;
}

.green {
    background-color: #008641 !important;
}

.blue {
    background-color: #1c4966 !important;
}

.card-header {
    border-bottom: 1px solid #1c4966 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}

.navbar-blue {
    background-color: #1c4966;
}

[class*=sidebar-light-] .sidebar a:active {
    color: #1c4966 !important;
}
[class*=sidebar-light-] .sidebar a:hover{
    color: #1c4966 !important;
}
[class*=sidebar-light-] .sidebar a:focus {
    color: #1c4966 !important;
}

.sidebar-light-primary .brand-link:not([class*=navbar]) {
    background-color: #1c4966 !important;
}

.white {
    color: #ffffff;
}

.main-footer {
    // background-color: #ce171f;
    // color: white;
    font-size: 10px;
}

a {
    color: #ce171f;
}

.bg-green-top {
    background-color: #008641;
}

.bg-red-top {
    background-color: #ce171f !important;
}

.bg-yellow-top {
    background-color: #FFD300 !important;
}

.inner {
    color: white !important;
}

.green {
    background-color: #008641 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}.bg-registration-top {
    background-color: #008641;
}

.bg-red-top {
    background-color: #ce171f !important;
}

.inner {
    color: white !important;
}

.green {
    background-color: #008641 !important;
}

.blue {
    background-color: #1c4966 !important;
}

.card-header {
    border-bottom: 1px solid #1c4966 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}

.bg-green-top {
    background-color: #008641;
}

.bg-red-top {
    background-color: #ce171f !important;
}

.bg-yellow-top {
    background-color: #FFD300 !important;
}

.inner {
    color: white !important;
}

.green {
    background-color: #008641 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}.bg-registration-top {
    background-color: #008641;
}

.bg-red-top {
    background-color: #ce171f !important;
}

.inner {
    color: white !important;
}

.green {
    background-color: #008641 !important;
}

.blue {
    background-color: #1c4966 !important;
}

.card-header {
    border-bottom: 1px solid #1c4966 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}