.layout-navbar-fixed .wrapper .main-header {
    margin: 0 0 0 0 !important;
}

.layout-navbar-fixed .wrapper .content-wrapper {
    margin-left: 0 !important;
}

.content-wrapper {
    margin-left: 0 !important;
}

.main-footer {
    margin-left: 0 !important;
}