.bg-registration {
    background-color: #008641;
}

.bg-red {
    background-color: #ce171f !important;
}

.inner {
    color: white !important;
}

.btn-success {
    background-color: #008641 !important;
    border-radius: 2.5rem;
    // width: 15%;
}

[class*=sidebar-light-] .sidebar a:active {
    color: #008641 !important;
}
[class*=sidebar-light-] .sidebar a:hover{
    color: #008641 !important;
}
[class*=sidebar-light-] .sidebar a:focus {
    color: #008641 !important;
}

.main-footer {
    // background-color: #ce171f;
    // color: white;
    font-size: 10px;
}

a {
    color: #ce171f;
}