<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <!-- <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Hi Field Agent!</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            </ol>
          </div>
        </div> -->
      </div>
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">User Information</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                        <img class="avatar" src="assets/img/avatar5.png">
                  </div>
                  <div class="col-md-8">
                      <h2>Juan Dela Cruz</h2>
                      <p>
                          <b>Kinatatalaang Lokal:</b> Sipit <br>
                          <b>Distrito:</b> Bataan <br>
                          <b>Tirahan:</b> #123 Maharlika Street, Bataan <br>
                          <b>Purok-Grupo:</b> 2-5 <br>
                      </p>
                      <!-- <table class="table table-bordered">
                        <tr>
                          <td>Kinatatalaang <br>Lokal</td>
                          <td>Sipit</td>
                        </tr>
                        <tr>
                          <td>Distrito</td>
                          <td>Bataan</td>
                        </tr>
                        <tr>
                          <td>Tirahan</td>
                          <td>#123 Bataan</td>
                        </tr>
                        <tr>
                            <td>Purok-Grupo</td>
                            <td>2-5</td>
                          </tr>
                      </table> -->
                  </div>
                </div>
               

              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->

          <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0">Attendance History</h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered" style="text-align: center;">
                    <thead>                  
                      <tr>
                        <th>Petsa</th>
                        <th>Distrito</th>
                        <th>Lokal</th>
                        <th>Kalihim</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>11-04-2020</td>
                        <td>Bataan</td>
                        <td>Sipit</td>
                        <td>Pedro De Jesus</td>
                      </tr>
                      <tr>
                        <td>10-28-2020</td>
                        <td>Bataan</td>
                        <td>Sipit</td>
                        <td>Pedro De Jesus</td>
                      </tr>
                      <tr>
                        <td>10-21-2020</td>
                        <td>Bataan</td>
                        <td>Sipit</td>
                        <td>Pedro De Jesus</td>
                      </tr>
                      <tr>
                        <td>10-14-2020</td>
                        <td>Bataan</td>
                        <td>Sipit</td>
                        <td>Pedro De Jesus</td>
                      </tr>
                      <tr>
                        <td>10-07-2020</td>
                        <td>Bataan</td>
                        <td>Sipit</td>
                        <td>Pedro De Jesus</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                  <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.card -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->