.text {
    padding: 20px;
}

#panel {
    height: 120px;
    margin-top: 10px;
    font-size: 22px;
}

#container {
    margin: 20px 20px 20px 20px;
}

#users {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:gray;
    color: white;
  }

.avatar {
  object-fit: contain;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  
}


