<!DOCTYPE html>
<html lang="en">
<body>
    <div class="banner-area">
        <div class="content" >
            <div class="container">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header text-center">
                        <h1 class="card-title font-weight-bold" style="font-size: 22px;">Registration</h1>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 7px;">
                            <div class="col-lg-6">
                                <label>First Name</label>
                                <input type="text" class="form-control input" placeholder="First Name">
                            </div>
                            <div class="col-lg-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control input" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 7px;">
                            <div class="col-lg-6">
                                <label>Contact Number</label>
                                <input type="text" class="form-control input" placeholder="Contact Number">
                            </div>
                            <div class="col-lg-6">
                                <label>Email</label>
                                <input type="text" class="form-control input" placeholder="Email">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 7px;">
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" class="form-control input" placeholder="City">
                            </div>
                            <div class="col-lg-6">
                                <label>Region</label>
                                <input type="text" class="form-control input" placeholder="Region">
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="btn-wrapper text-center d-flex justify-content-between" >
                            <a type="button" class="btn" href="lem/event/landing-page">Back</a>
                            <a class="btn submit btn-secondary"href="lem/event/main-event">Submit</a> 
                        </div>
                        <div style="float: ritght; margin-top: 10px;" >
                            <a style="font-size: 15px; float:right;">By clicking "Submit", you agree to our <a href="/" data-toggle="modal" data-target="#legalModal">Terms and Conditions</a></a>
                        </div>
                        
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
                <!-- /.row -->
              </div><!-- /.container-fluid -->

            <div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-notify modal-warning" role="document">
                    <!--Content-->
                    <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Terms and Conditions</h4>
                    </div>
    
                    <!--Body-->
                    <div class="modal-body text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tellus enim, ac accumsan massa elementum sed. Pellentesque cursus mauris in tempor posuere. Proin dignissim dictum sodales. Praesent at justo vitae tellus porta <br> condimentum. Integer tellus eros, scelerisque at diam eu, vulputate feugiat diam. Quisque ut est hendrerit, semper nibh nec, volutpat mauris. Pellentesque blandit magna a erat hendrerit sodales. Quisque purus lorem, tristique et iaculis non, ornare commodo odio. Ut vitae convallis sapien, a volutpat erat. Vestibulum eget finibus dolor, id mattis urna. Nam suscipit elit et dui suscipit, in gravida nunc congue. In ipsum justo, facilisis sed enim et, varius aliquam est. Nullam erat ante, auctor vel pellentesque in, mollis nec sem. Nullam quis dictum nibh. Fusce dapibus dictum augue, sed faucibus turpis aliquam eu.
                        <div style="margin-top:10px;">
                            <a type="button" class="btn btn-secondary" data-dismiss="modal" style="color:white; width: 200px; border-radius:20px 20px 20px 20px;">Close</a>
                        </div>
    
                    </div>
    
                    <!--Footer-->
                    <!-- <div class="modal-footer justify-content-center">
                        
                    </div> -->
                    </div>
                    <!--/.Content-->
                </div>
            </div>
        </div>
        

    </div>

</body>
</html>