<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <!-- <li class="nav-item d-none d-sm-inline-block">
      <a href="/homepage" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li> -->
  </ul>

  <!-- SEARCH FORM -->
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Logout</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
          class="fas fa-th-large"></i></a>
    </li> -->
  </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a href="https://iglesianicristo.net/" class="brand-link">
    <img src="assets/img/inc.png" alt="Iglesia ni Cristo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Iglesia Ni Cristo</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/admin.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">System Administrator</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
          <a href="kma/dashboard" (click)="onClick($event)" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <!-- <i class="nav-icon fas fa-edit"></i> -->
            <i class="nav-icon far fa-chart-bar"></i>
            <p>
              Attendance Record 
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="kma/attendance-per-dist" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                <p>Per District</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="kma/attendance-per-local" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                <p>Per Locality</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="kma/attendance-highest" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                <p>Highest Attendance</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a href="kma/user-dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard (User View)
              <!-- <i class="fas fa-angle-left right"></i> -->
            </p>
          </a>
          <!-- <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/medicine-assistance" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Medicine Assistance</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/hosp-bill-assistance" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Hospital Bill Assistance</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/peoples-day-assistance" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>People's Day Assistance</p>
              </a>
            </li>
           
          </ul> -->
        </li>
        <li class="nav-item has-treeview">
          <a href="kma/registration" class="nav-link">
              <i class="nav-icon fas fa-clipboard"></i>
            <p>
              Registration
              <!-- <i class="fas fa-angle-left right"></i> -->
            </p>
          </a>
        </li>
        
        <!-- <li class="nav-item has-treeview">
          <a href="/analytics" class="nav-link">
            <i class="nav-icon far fa-chart-bar"></i>
            <p>
              Analytics
            </p>
          </a>
        </li> -->

        <li class="nav-item has-treeview">
          <a href="kma/user-profile" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              User Profile
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">District Attendance Record</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Attendance Record</li>
              <li class="breadcrumb-item active">Per Locality</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">  
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header border-success">
                  <h5 class="card-title" style="font-weight: bolder;">Attendance Report per Locality</h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header border-info">
                            <h3 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-title"></h3>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="float: right;">
                              <select class="form-control" id="sel1">
                                <option>MANILA</option>
                                <option>CENTRAL</option>
                                <option>MM EAST</option>
                                <option>QUEZON CITY</option>
                              </select></div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="float: right;">
                                <select class="form-control" id="sel1">
                                  <option>BAMBANG</option>
                                  <option>BASECO</option>
                                  <option>QUIAPO</option>
                                  <option>TONDO</option>
                                  <option>SAMPALOC</option>
                                  <option>PANDACAN</option>
                                </select></div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="float: right;">
                                <select class="form-control" id="sel1">
                                  <option>DAILY</option>
                                  <option>WEEKLY</option>
                                  <option>MONTHLY</option>
                                </select></div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table class="table table-bordered" style="text-align: center;">
                            <thead>                  
                              <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Name</th>
                                <th>DCode</th>
                                <th>Lcode</th>
                                <th>Purok-Group</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>30-10-2020</td>
                                <td>10:23:05</td>
                                <td>Juan Dela Cruz</td>
                                <td>0001</td>
                                <td>0011</td>
                                <td>1-1</td>
                                <td>Present</td>
                              </tr>
                              <tr>
                                <td>30-10-2020</td>
                                <td>10:15:04</td>
                                <td>Luis Calunod</td>
                                <td>0046</td>
                                <td>0701</td>
                                <td>8-3</td>
                                <td>Present (from other locality)</td>
                              </tr>
                              <tr>
                                <td>30-10-2020</td>
                                <td>10:05:40</td>
                                <td>Patricio Martinez</td>
                                <td>7045</td>
                                <td>1004</td>
                                <td>2-5</td>
                                <td>Present</td>
                              </tr>
                              <tr>
                                <td>30-10-2020</td>
                                <td>9:30:17</td>
                                <td>Purisima Vargas</td>
                                <td>0023</td>
                                <td>0478</td>
                                <td>3-7</td>
                                <td>Present</td>
                              </tr>
                              <tr>
                                <td>30-10-2020</td>
                                <td>9:23:00</td>
                                <td>Alfred Andrada</td>
                                <td>0314</td>
                                <td>0077</td>
                                <td>1-3</td>
                                <td>Present (from other locality)</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                          <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- ./card-body -->
                <!-- <div class="card-footer"> -->
                  <!-- <div class="row">
                    <div class="col-sm-6 col-6">
                      <div class="description-block border-right">
                        <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
                        <h5 class="description-header">3,000</h5>
                        <span class="description-text">TOTAL MEMBERS</span>
                      </div>
                      /.description-block
                    </div>
                    /.col
                    <div class="col-sm-6 col-6">
                      <div class="description-block">
                        <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
                        <h5 class="description-header">1200</h5>
                        <span class="description-text">GOAL COMPLETIONS</span>
                      </div>
                      /.description-block
                    </div>
                  </div> -->
                  <!-- /.row -->
                <!-- </div> -->
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!--/. container-fluid -->
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Main Footer -->
<footer class="main-footer">
  <!-- Default to the left -->
  <strong>Copyright &copy; 2020 <a href="https://illustrados.co/">Illustrados Creatives and Technologies</a>.</strong> All rights reserved.
</footer>