.bg-registration {
    background-color: #008641;
}

.bg-red {
    background-color: #ce171f !important;
}

.inner {
    color: white !important;
}

.btn-success {
    background-color: #008641 !important;
    border-radius: 2.5rem;
    // width: 15%;
}