<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Attendance Record</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Attendance Record</li>
              <li class="breadcrumb-item active">Highest Attendance</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Info boxes -->
          <div class="row">      
            <div class="col-lg-6 col-xs-6">
                <div class="card">
                  <div class="card-header border-danger">
                    <h5 class="card-title" style="font-weight: bolder;">Attendees per Age Group for October 2020</h5>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                          <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                          <a href="#" class="dropdown-item">Action</a>
                          <a href="#" class="dropdown-item">Another action</a>
                          <a href="#" class="dropdown-item">Something else here</a>
                          <a class="dropdown-divider"></a>
                          <a href="#" class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="mypieChart" ></canvas>
                  </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->
            <div class="col-lg-6 col-xs-6">
                <div class="card">
                  <div class="card-header border-danger">
                    <h5 class="card-title" style="font-weight: bolder;">Attendees per Age Group for 2020</h5>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                          <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                          <a href="#" class="dropdown-item">Action</a>
                          <a href="#" class="dropdown-item">Another action</a>
                          <a href="#" class="dropdown-item">Something else here</a>
                          <a class="dropdown-divider"></a>
                          <a href="#" class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="mylineChart" ></canvas>
                  </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
          <!-- /.row -->
  
          <div class="row">
            <div class="col-lg-6 col-xs-6">
              <div class="card">
                <div class="card-header border-success">
                  <h5 class="card-title" style="font-weight: bolder;">Highest Monthly Attendance Report</h5>
  
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <div class="btn-group">
                      <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-wrench"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a href="#" class="dropdown-item">Action</a>
                        <a href="#" class="dropdown-item">Another action</a>
                        <a href="#" class="dropdown-item">Something else here</a>
                        <a class="dropdown-divider"></a>
                        <a href="#" class="dropdown-item">Separated link</a>
                      </div>
                    </div>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header border-info">
                          <h3 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-title">District: MANILA</h3>
                          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="float: right;">
                            <select class="form-control" id="sel1">
                              <option>MANILA</option>
                              <option>CENTRAL</option>
                              <option>MM EAST</option>
                              <option>QUEZON CITY</option>
                            </select></div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <canvas id="monthlylineChart" ></canvas>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-lg-6 col-xs-6">
                <div class="card">
                  <div class="card-header border-success">
                    <h5 class="card-title" style="font-weight: bolder;">Highest Weekly Attendance Report</h5>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <div class="btn-group">
                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                          <i class="fas fa-wrench"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                          <a href="#" class="dropdown-item">Action</a>
                          <a href="#" class="dropdown-item">Another action</a>
                          <a href="#" class="dropdown-item">Something else here</a>
                          <a class="dropdown-divider"></a>
                          <a href="#" class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-header border-info">
                            <h3 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-title">District: MANILA</h3>
                          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="float: right;">
                            <select class="form-control" id="sel1">
                              <option>MANILA</option>
                              <option>CENTRAL</option>
                              <option>MM EAST</option>
                              <option>QUEZON CITY</option>
                            </select></div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                              <canvas id="weeklylineChart" ></canvas>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
          </div>
          <!-- /.row -->

        </div><!--/. container-fluid -->
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  