<!DOCTYPE html>
<html lang="en">
<body>
    <div class="banner-area">
        <div class="text-container">
            <h1>Indra Icons<br>
            Year End party</h1>
            <button id="btn-enter" type="button" class="btn btn-lg bg-primary" data-toggle="modal" data-target="#loginModal">
                Enter Event
             </button>
        </div>
        


        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-warning" role="document">
                <!--Content-->
                <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Login</h4>
                </div>

                <!--Body-->
                <div class="modal-body text-center">
                    <input type="text" class="form-control input" placeholder="Enter Code">
                    <div class="button-area">
                        <a type="button" class="btn submit btn-secondary" href="lem/event/lem-registration">Submit</a>
                    </div>
                    <div style="margin-top:5px;">
                        <a type="button" class="btn" data-dismiss="modal" style="width: 200px; border-radius:20px 20px 20px 20px;">Close</a>
                    </div>
                    <div style="margin-top:5px; font-size: 10px;">
                        By clicking "Submit", you agree to our <br><a href="" data-toggle="modal" data-target="#legalModal">Terms and Conditions</a>
                    </div>

                </div>

                <!--Footer-->
                <!-- <div class="modal-footer justify-content-center">
                    
                </div> -->
                </div>
                <!--/.Content-->
            </div>
        </div>

        <div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-warning" role="document">
                <!--Content-->
                <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Terms and Conditions</h4>
                </div>

                <!--Body-->
                <div class="modal-body text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tellus enim, ac accumsan massa elementum sed. Pellentesque cursus mauris in tempor posuere. Proin dignissim dictum sodales. Praesent at justo vitae tellus porta <br> condimentum. Integer tellus eros, scelerisque at diam eu, vulputate feugiat diam. Quisque ut est hendrerit, semper nibh nec, volutpat mauris. Pellentesque blandit magna a erat hendrerit sodales. Quisque purus lorem, tristique et iaculis non, ornare commodo odio. Ut vitae convallis sapien, a volutpat erat. Vestibulum eget finibus dolor, id mattis urna. Nam suscipit elit et dui suscipit, in gravida nunc congue. In ipsum justo, facilisis sed enim et, varius aliquam est. Nullam erat ante, auctor vel pellentesque in, mollis nec sem. Nullam quis dictum nibh. Fusce dapibus dictum augue, sed faucibus turpis aliquam eu.
                    <div style="margin-top:10px;">
                        <a type="button" class="btn btn-secondary" data-dismiss="modal" style="color:white; width: 200px; border-radius:20px 20px 20px 20px;">Close</a>
                    </div>

                </div>

                <!--Footer-->
                <!-- <div class="modal-footer justify-content-center">
                    
                </div> -->
                </div>
                <!--/.Content-->
            </div>
        </div>


    </div>
    
    
    
</body>
</html>