.bg-registration-top {
    background-color: #008641;
}

.bg-red-top {
    background-color: #ce171f !important;
}

.inner {
    color: white !important;
}

.green {
    background-color: #008641 !important;
}

.bg-registration {
    background-color: white;
}

.bg-red {
    background-color: white !important;
}

.red {
    background-color: #ce171f !important;
}